.figure p {
    overflow: auto;
    display: block;
    height: 100%;
}

.figure {
    display: block;
    height: 80%;
}

.present,.past,.future {
    display: block;
    height: 100%;
}



.org-svg {
    height: 90%;
}

img {
    height: 90%;
}
