<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>git 101</title>
<meta name="author" content="(traxix)"/>
<style type="text/css">
.underline { text-decoration: underline; }
</style>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.css"/>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/sky.css" id="theme"/>

<link rel="stylesheet" href="./extra.css"/>

<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'http://cdn.jsdelivr.net/reveal.js/3.0.0/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
<section id="sec-title-slide"><h1 class="title">git 101</h1><h2 class="author">traxix</h2><p class="date">Created: 2018-04-17 Tue 12:58</p>
</section>
<section id="table-of-contents">
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#/slide-orgac94ca8">Git</a></li>
<li><a href="#/slide-org3413275">Feel the Flow</a></li>
<li><a href="#/slide-orgf98504b">Gitlab</a></li>
</ul>
</div>
</div>
</section>

<section>
<section id="slide-orgac94ca8">
<h2 id="orgac94ca8">Git</h2>
<p>
This is not a tutorial. 
</p>

</section>
<section id="slide-orge5c260b">
<h3 id="orge5c260b">A Scm</h3>
<ul>
<li>Source Control Management.</li>
<li>Local and Remote.</li>
<li>Distributed vs Centralised.</li>
<li>Branch.</li>
<li>Fast.</li>

</ul>

</section>
<section id="slide-org359602d">
<h3 id="org359602d">A graph</h3>
<ul>
<li>Commit.</li>
<li>Branch.</li>
<li>Tag.</li>
<li><code>cherry-pick</code>.</li>
<li>Rebase.</li>

</ul>


</section>
<section id="slide-orgb4c3bc3">
<h3 id="orgb4c3bc3">Merge, Rebase and Fast Forward</h3>

<div class="figure">
<p><object type="image/svg+xml" data="./merge.svg" class="org-svg">
Sorry, your browser does not support SVG.</object>
</p>
</div>


</section>
<section id="slide-org6d5211f">
<h3 id="org6d5211f">Cool Stuff</h3>
<ul>
<li>stash</li>
<li>reflog</li>

</ul>


</section>
</section>
<section>
<section id="slide-org3413275">
<h2 id="org3413275">Feel the Flow</h2>

<div class="figure">
<p><object type="image/svg+xml" data="./keep-calm.svg" class="org-svg">
Sorry, your browser does not support SVG.</object>
</p>
</div>


</section>
<section id="slide-org343c262">
<h3 id="org343c262">Gitflow</h3>
<p>
<a href="http://nvie.com/posts/a-successful-git-branching-model/">A successful branching model</a>
</p>


<div class="figure">
<p><a href="http://nvie.com/img/git-model@2x.png"><img src="http://nvie.com/img/git-model@2x.png" alt="git-model@2x.png" /></a>
</p>
</div>

</section>
<section id="slide-org8dcbb4c">
<h3 id="org8dcbb4c">Tutorials</h3>
<ul>
<li><a href="http://bfy.tw/S5Q">http://bfy.tw/S5Q</a></li>
<li><a href="http://gitimmersion.com">http://gitimmersion.com</a></li>

</ul>

</section>
</section>
<section>
<section id="slide-orgf98504b">
<h2 id="orgf98504b">Gitlab</h2>
<p>
<a href="https://git.cassiopae.com">https://git.cassiopae.com</a>
</p>

</section>
<section id="slide-org713136d">
<h3 id="org713136d"></h3>
</section>
</section>
</div>
</div>
<script src="http://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
<script src="http://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.js"></script>

<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

controls: true,
progress: true,
history: false,
center: true,
slideNumber: 'c',
rollingLinks: false,
keyboard: true,
overview: true,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'cube', // default/cube/page/concave/zoom/linear/fade/none
transitionSpeed: 'default',
multiplex: {
    secret: '', // null if client
    id: '', // id, obtained from socket.io server
    url: '' // Location of socket.io server
},

// Optional libraries used to extend on reveal.js
dependencies: [
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }]
});
</script>
</body>
</html>
